*{
  margin: 0;
  padding: 0;
}

h2{
  margin: 10px 0;
}

.btn{
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  &_green{
    background-color: green;
  }
}

$step: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 100, 150);

$ot_map: (m: margin, p:padding);

@each $n, $c in $ot_map{
    .#{$n}{
        @each $v in $step {
            &t#{$v} {
                #{$c}-top: #{$v}px;
            }
            &b#{$v} {
                #{$c}-bottom: #{$v}px;
            }
            &r#{$v} {
                #{$c}-right: #{$v}px;
            }
            &l#{$v} {
                #{$c}-left: #{$v}px;
            }
        }
    }
}

.preloaders{
  background-image: url("../images/preloaders.gif");
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.statistic{

}

.statistic__item{
  padding: 10px 0;
  border-top: 1px #000 solid;
  &:first-child{
    border-top: 0px;
  }
}

.page{
  display: flex;
}

.page__menu{
  width: 200px;
  padding: 10px;
  li{
    cursor: pointer;
  }
}

.page__main{
  width: calc(100% - 240px);
  padding: 10px;
}


.form{
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
  input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 5px;
    &:focus{
      background-color: #effa5d;
      outline: 0;
      &:hover{
        background-color: #effa5d;
      }
    }
    &:hover{
      background-color: #eaeaea;
    }
  }
  button{
    padding: 11px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  &:target{
    background-color: #f10404;
  }
}